{% extends "base.html" %}

{% block content %}

<p><font face="calibri" size="8">This is a test information tracker / to-do list / calendar organization tool for the Infrastructure Operations
    Team (IOT).</font></p>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<p><i><font face="calibri" size="5">This site will change often as features are added. Please submit suggestions and problems to me directly at
    Nicholas.Waite@uchealth.org. Thank you!</font></i></p>

{% endblock content %}

