{% extends "base.html" %}
{% block content %}


<h1>Recent Information:</h1>
<h2>ITSM</font></h2>
<body>
    <ul style="list-style-type:none">
     <li>5/1/2018</li>
        <ul style="list-style-type:disc">
            <li>Nested List example 1 nest</li>
            <li>second item.</li>
                <ul style="list-style-type:circle">
                    <li>Nested List example 2 nests</li>
                    <li>second item.</li>
                </ul>
        </ul>
    </ul>
</body>

<h2>Patching / Reboots</font></h2>
<body>
    <ul style="list-style-type:none">
     <li>5/1/2018</li>
        <ul style="list-style-type:disc">
            <li>Nested List example 1 nest</li>
            <li>second item.</li>
                <ul style="list-style-type:circle">
                    <li>Nested List example 2 nests</li>
                    <li>second item.</li>
                </ul>
        </ul>
    </ul>
</body>

<h2>Solarwinds</h2>
<body>
    <ul style="list-style-type:none">
     <li>5/1/2018</li>
        <ul style="list-style-type:disc">
            <li>Nested List example 1 nest</li>
            <li>second item.</li>
                <ul style="list-style-type:circle">
                    <li>Nested List example 2 nests</li>
                    <li>second item.</li>
                </ul>
        </ul>
    </ul>
</body>

<p>Here is a 100px for the css setting of margin in the p section. testing testing 1 2 3 3344556677omg kitty
    get the kitty off the bed barg what the heyl</p>
<p class="bigwidth"> testing this is the bigger 400max width under the p.margin variable. omg kitty get the kitty off the bed barg
    what the heyl omg kitty get the kitty ofomg kitty get the kitty off the bed barg what the heylomg kitty get the
    kitty off the bed barg what the heylf the bed barg what the heylomg kitty get the kitty off the bed barg what the
    heylomg kitty get the kitty off the bed barg what the heyl</p>
<h5>This is a test information tracker / to-do list / calendar organization tool for the Infrastructure Operations
    Team (IOT).</h5>
<h6><i>This site will change often as features are added.
    Please submit suggestions and problems to me directly atNicholas.Waite@uchealth.org. Thank you!</h6>

{% endblock content %}

